.main-container {
  margin-bottom: 100px;
}
.search-container {
  background: linear-gradient(to right,rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.09)), url(../../assets/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin-bottom: 80px;
}
.top-title {
  font-size: 80px;
  font-weight: 900;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
.search-main-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.main-wrapper {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.search-form {
  width: 100%;
  display: flex;
  flex-grow: row wrap;
  align-items: center;

  &__input {
    height: 54px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding-left: 16px;
    padding-right: 10px;
    color: #808080;
    outline: none;
    border: none;

    &--query {
      min-width: 400px;
    }
  
    &--year {
      min-width: 100px;
    }

    &--select {
      min-width: 100px;
    }
  }

  $borderRadiusValue: 28px;

  &--left-border-radius {
    border-top-left-radius: $borderRadiusValue;
    border-bottom-left-radius: $borderRadiusValue;
  }

  &--right-border-radius {
    border-top-right-radius: $borderRadiusValue;
    border-bottom-right-radius: $borderRadiusValue;
  }

  &__search-button {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Nunito', sans-serif;

    &:hover {
      background-color: #d9d9d9;
      transition: background-color 0.2s ease;
    }
  }

  &__search-icon {
    position: relative;
    top: 5px;
    left: 10px;
  }
}
input, select{
  box-sizing: border-box;
}
.xdf {
  display: flex;
}
.poster-image {
  max-width: 200px;
}
.no-poster {
  width: 200px;
  height: 280px;
  text-align: center;
  line-height: 280px;
  background-color: #d9d9d9;
}
.movie-list-item {
  min-height: 280px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}
.movie-list-item:last-child {
  border-bottom: none;
}
.movie-item-link {
  text-decoration: none;
}
.movie-information {
  padding-left: 20px;
  padding-right: 20px;
}
.movie-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}
.total-results {
  font-size: 20px;
}