<div class="main-container">
  <div class="search-container">
    <div class="main-wrapper">
      wrapper
      
      <div>
        <form [formGroup]="form" (ngSubmit)="submitForm()" class="search-form">
          <input type="text" class="search-item" placeholder="Tytuł" formControlName="title">
          <input type="text" class="search-item" placeholder="Rok" formControlName="year">
          <select class="search-item" formControlName="type">
            <option value="movie" selected>Film</option>
            <option value="series">Seria</option>
            <option value="episode">Epizod</option>
          </select>
          <select class="search-item" formControlName="plot">
            <option value="short" selected>Short</option>
            <option value="full">Full</option>
          </select>
          <button class="search-item search-button" type="submit">
            szukaj
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="main-wrapper">
    <div class="total-results-container">
      <div class="total-results">
        Wszystie filmy - {{ totalResults }}
      </div>
    </div>
    <div *ngFor="let item of movieList" class="movie-list-item">
      <a [routerLink]="'/movie/' + item.imdbID" class="movie-item-link">
        <div class="xdf">
          <div>
            <ng-template [ngIf]="item.Poster && item.Poster !== 'N/A'">
              <img [src]="item.Poster" class="poster-image">
            </ng-template>
            <ng-template [ngIf]="item.Poster === 'N/A'">
              <div class="no-poster">
                Brak zdjęcia
              </div>
            </ng-template>
            <ng-template [ngIf]="!item.Poster">
              <div class="no-poster">
                Brak zdjęcia
              </div>
            </ng-template>
          </div>
          <div class="movie-information">
            <div class="movie-title">
              {{ item.Title }}
            </div>
            <div>
              Rok: {{ item.Year }}
            </div>
            <div>
              Typ: {{ item.Type }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
