<div class="main-container">
  <div class="search-container">

    <div class="top-title">
      Filmy Seriale Dokumenty
    </div>

    <div class="search-main-wrapper">
      <form [formGroup]="form" (ngSubmit)="submitForm()" class="search-form">
        <input type="text" class="search-form__input search-form__input--query search-form--left-border-radius" placeholder="Tytuł" formControlName="title">
        <div class="search-form__display">
          <input type="text" class="search-form__input search-form__input--year" placeholder="Rok" formControlName="year">
          <select class="search-form__input search-form__input--select" formControlName="type">
            <option value="movie" [selected]="true">Film</option>
            <option value="series">Seria</option>
            <option value="episode">Epizod</option>
          </select>
        </div>
        <select class="search-form__input search-form__input--select-plot" formControlName="plot">
          <option value="short" [selected]="true">Krótkometrażowy</option>
          <option value="full">Pełnometrażowy</option>
        </select>
        <button class="search-form__input search-form__search-button search-form--right-border-radius" type="submit">
          szukaj  <mat-icon class="search-form__search-icon">search</mat-icon>
        </button>
      </form>
    </div>
  </div>

  <div class="list-view-buttons-section">
    <button (click)="view('grid')" class="list-view-button" [class.selected]="listView === 'grid'">
      <mat-icon class="list-view-button__icon">apps</mat-icon> Kafelki
    </button>
    <button (click)="view('list')" class="list-view-button" [class.selected]="listView === 'list'">
      <mat-icon class="list-view-button__icon">list</mat-icon> Lista
    </button>
  </div>

  <div class="main-wrapper">
    <div *ngIf="listView === 'list'">
      <div
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="100"
        (scrolled)="onScroll()"
      >
        <div>
          <div *ngIf="showTotalResultsSection" class="total-results-container">
            <div class="total-results">
              Wszystie filmy - {{ totalResults }}
            </div>
          </div>
          <div *ngFor="let item of movieList" class="movie-list-item">
            <a [routerLink]="'/movie/' + item.imdbID" class="movie-item-link">
              <div class="xdf">
                <div>
                  <ng-template [ngIf]="item.Poster && item.Poster !== 'N/A'">
                    <div style="width: 220px;">
                      <img [src]="item.Poster" class="poster-image">
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="item.Poster === 'N/A'">
                    <div class="no-poster">
                      Brak zdjęcia
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="!item.Poster">
                    <div class="no-poster">
                      Brak zdjęcia
                    </div>
                  </ng-template>
                </div>
                <div class="movie-information">
                  <div class="movie-title">
                    {{ item.Title }}
                  </div>
                  <div>
                    Rok: {{ item.Year }}
                  </div>
                  <div>
                    Typ: {{ item.Type }}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="listView === 'grid'" class="grid-wrapper">
    <div *ngIf="showTotalResultsSection" class="total-results-container">
      <div class="total-results total-results--padding-left">
        Wszystie filmy - {{ totalResults }}
      </div>
    </div>
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="100"
      (scrolled)="onScroll()"
    >
      <div class="grid-container">
        <div *ngFor="let item of movieList" class="movie-grid-item">
          <a [routerLink]="'/movie/' + item.imdbID" class="movie-item-link">
            <div>
              <ng-template [ngIf]="item.Poster && item.Poster !== 'N/A'">
                <img [src]="item.Poster" class="grid-poster-image">
              </ng-template>
              <ng-template [ngIf]="item.Poster === 'N/A'">
                <div class="grid-no-poster">
                  Brak zdjęcia
                </div>
              </ng-template>
              <ng-template [ngIf]="!item.Poster">
                <div class="grid-no-poster">
                  Brak zdjęcia
                </div>
              </ng-template>
            </div>
            <div>
              <div class="movie-grid-title">
                {{ item.Title }}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
