$fontFamily: 'Nunito', sans-serif;
$borderRadiusValue: 28px;
$fontSizeMedium: 18px;

@mixin left-border-radius {
  border-top-left-radius: $borderRadiusValue;
  border-bottom-left-radius: $borderRadiusValue;
}

@mixin right-border-radius {
  border-top-right-radius: $borderRadiusValue;
  border-bottom-right-radius: $borderRadiusValue;
}

.main-container {
  margin-bottom: 100px;
  font-family: $fontFamily;
}
.search-container {
  background: linear-gradient(to right,rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.09)), url(../../assets/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin-bottom: 60px;
}
.top-title {
  font-size: 80px;
  font-weight: 900;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  text-align: center;
}
.search-main-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.main-wrapper {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
input, select{
  box-sizing: border-box;
}
.search-form {
  width: 100%;
  display: flex;
  flex-grow: row wrap;
  align-items: center;

  &__input {
    height: 54px;
    font-size: $fontSizeMedium;
    font-family: $fontFamily;
    padding-left: 16px;
    padding-right: 10px;
    color: #808080;
    outline: none;
    border: none;

    &:hover {
      background-color: #f1f1f1;
    }

    &--query {
      min-width: 400px;
    }
  
    &--year {
      min-width: 100px;
    }

    &--select {
      min-width: 100px;
    }

    &--select-plot {
      min-width: 200px;
    }
  }

  &__display {
    display: contents;
  }

  &--left-border-radius {
    @include left-border-radius;
  }

  &--right-border-radius {
    @include right-border-radius;
  }

  &__search-button {
    width: 100%;
    line-height: 54px;
    font-size: $fontSizeMedium;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: #e60000;

    &:hover {
      background-color: #d9d9d9;
      transition: background-color 0.2s ease;
    }
  }

  &__search-icon {
    position: relative;
    top: 5px;
    left: 10px;
  }
}
.xdf {
  display: flex;
  box-shadow: 0 0 22px -2px #d9d9d9;
  height: 325px;
}
.poster-image {
  max-width: 220px;
  max-height: 325px;
  min-height: 325px;
}
.no-poster {
  width: 220px;
  max-height: 325px;
  min-height: 325px;
  text-align: center;
  line-height: 325px;
  background-color: #d9d9d9;
}
.movie-list-item {
  min-height: 280px;
  margin-top: 20px;
  padding-bottom: 20px;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }
}
.movie-list-item:last-child {
  border-bottom: none;
}
.movie-item-link {
  text-decoration: none;
}
.movie-information {
  padding-left: 20px;
  padding-right: 20px;
}
.movie-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000;
}
.total-results {
  font-size: $fontSizeMedium;
  margin-bottom: 20px;

  &--padding-left {
    padding-left: 5px;
  }
}
.grid-wrapper {
  max-width: 1040px;
  margin: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.movie-grid-item {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  min-height: 380px;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }
}
.grid-poster-image {
  min-width: 250px;
  max-width: 250px;
  min-height: 380px;
  max-height: 380px;
}
.grid-no-poster {
  min-width: 250px;
  max-width: 250px;
  min-height: 380px;
  max-height: 380px;
  text-align: center;
  line-height: 380px;
  background-color: #d9d9d9;
}
.movie-grid-title {
  font-weight: 600;
  color: #000;
  max-width: 250px;
}
.list-view-buttons-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.list-view-button {
  max-width: 140px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: $borderRadiusValue;
  height: 54px;
  line-height: 54px;
  font-size: $fontSizeMedium;
  font-family: $fontFamily;
  color: #808080;
  outline: none;
  border: none;

  &__icon {
    position: relative;
    top: 5px;
    margin-right: 10px;
  }

  &:hover {
    background-color: #d9d9d9;
    transition: background-color 0.2s ease;
  }
}
.selected {
  background-color: #d9d9d9;
}

@media only screen and (max-width: 1140px) {
  .top-title {
    font-size: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .search-main-wrapper {
    width: initial;
    max-width: 780px;
  }
  .search-form {
    display: grid;

    &__display {
      display: flex;
      width: 100%;
    }

    &__input {
      margin-bottom: 8px;
      
      @include left-border-radius;
      @include right-border-radius;

      &--year {
        min-width: initial;
        width: 50%;
        margin-right: 4px;
      }

      &--select {
        min-width: initial;
        width: 50%;
        margin-left: 4px;
      }
    }
  }
  .grid-wrapper {
    max-width: 780px;
  }
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 792px) {
  .top-title {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .grid-wrapper {
    max-width: 540px;
  }
  .grid-container {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 536px) {
  .total-results {
    text-align: center;
  }
  .grid-container {
    grid-template-columns: auto;
  }
  .movie-grid-item {
    margin: auto;
    margin-bottom: 20px;
  }
}