.movie-main-container {
  background-color: #fff;
  height: 100vh;
  color: black;
}
.information-container {
  width: 100%;
  max-width: 1000px;
  /* background-color: red; */
  margin: auto;
  margin-top: 40px;
}
.top-section {
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
}
.padding-left {
  padding-left: 20px;
}
.image-section {
  width: 30%;
}
.image-poster:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.information-section {
  width: 70%;
}
.section-title {
  font-size: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f1f1f1;
  color: black;
  width: 100%;
  letter-spacing: 2px;
  margin-bottom: 14px;
}
.rating-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rating-title {
  width: 250px;
}
.information-subsection {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}
.information-subsection-description {
  width: 100%;
  margin-bottom: 22px;
}
.information-item {
  width: 50%;
  padding-bottom: 10px;
}
.tra {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.img-a-section {
  margin-right: 12px;
}
.actor-image {
  width: 140px;
  height: 165px;
  background-color: aliceblue;
  color: black;
  line-height: 165px;
  text-align: center;
}
.actor-fullname {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.back-link {
  text-decoration: none;
  color: black;
  letter-spacing: 0.4px;
  font-weight: 600;
}
.back-link:hover {
  color: #404040;
}
.arrow-icon {
  position: relative;
  top: 6px;
}
.image-full-modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.9);
}
.image-modal {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
}
.close-modal-icon {
  position: absolute;
  top: 14px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: default;
}
.close-modal-icon:hover {
  color: #cccccc;
}

.image-modal {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}