.movie-main-container {
  background-color: #fff;
  height: 100vh;
  color: white;
}
.information-container {
  width: 100%;
  max-width: 1000px;
  background-color: red;
  margin: auto;
}
.top-section {
  display: flex;
  margin-top: 80px;
}
.padding-left {
  padding-left: 12px;
}
.image-section {
  width: 30%;
}
.information-section {
  width: 70%;
}
.section-title {
  font-size: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f1f1f1;
  color: black;
  width: 100%;
  letter-spacing: 2px;
  margin-bottom: 14px;
}
.rating-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rating-title {
  width: 250px;
}
.information-subsection {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}
.information-item {
  width: 50%;
  padding-bottom: 10px;
}
.tra {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.img-a-section {
  margin-right: 12px;
}
.actor-image {
  width: 140px;
  height: 165px;
  background-color: aliceblue;
  color: black;
  line-height: 165px;
  text-align: center;
}
.actor-fullname {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
}