<div class="movie-main-container">
  <div class="information-container">
    <div>
      <a routerLink="/" class="back-link">
        <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon> Wyszukiwanie
      </a>
    </div>
    <div class="top-section">
      <div class="image-section">
        <img [src]="movie.Poster" class="image-poster" (click)="fullImagePoster()">
      </div>
      <div class="information-section padding-left">
        <div>
          <div class="section-title">
            {{ movie.Title }}
          </div>
          <div style="width: 100%;">
            <div class="information-subsection-description">
              {{ movie.Plot }}
            </div>
            <div class="information-subsection">
              <div class="information-item">
                Rok : {{ movie.Year }}
              </div>
              <div class="information-item">
                Kraj : {{ movie.Country }}
              </div>
            </div>
            <div class="information-subsection">
              <div class="information-item">
                Czas : {{ movie.Runtime }}
              </div>
              <div class="information-item">
                Wydanie : {{ movie.Released }}
              </div>
            </div>
            <div class="information-subsection">
              <div class="information-item">
                Typ : {{ movie.Type }}
              </div>
              <div class="information-item">
                Gatunek : {{ movie.Genre }}
              </div>
            </div>
            <div class="information-subsection">
              <div class="information-item">
                Język : {{ movie.Language }}
              </div>
              <div class="information-item">
                Strona : {{ movie.Website }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="section-title">
          Reżyser
        </div>
        <div class="image-director">
          <div class="actor-image">
            image
          </div>
          <div class="actor-fullname-section">
            <span class="actor-fullname">
              {{ movie.Director }}
            </span>
          </div>
        </div>
      </div>
      <div class="section-title">
        Obsada
      </div>
      <div class="tra">
        <div *ngFor="let item of movie.Actors" class="img-a-section">
          <div class="actor-image">
            image
          </div>
          <div class="actor-fullname-section">
            <span class="actor-fullname">
              {{ item }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="section-title">
        Oceny
      </div>
      <div class="ratings-row">
        <div class="ratings-row__item">
          <div class="ratings-row__side">
            {{ movie.Ratings[0].Source }}
          </div>
          <div class="ratings-row__star-middle">
            <div class="ratings-row__star-container">
              <mat-icon *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" class="arrow-icon">
                star
              </mat-icon>
              <div class="x"></div>
            </div>
          </div>
          <div class="ratings-row__side-right ratings-row--right">
            <div>
              {{ movie.Ratings[0].Value }}
            </div>
          </div>
        </div>
        <div class="ratings-row__item">
          <div class="ratings-row__side">
            {{ movie.Ratings[1].Source }}
          </div>
          <div class="ratings-row__middle">
            <div class="ratings-row__bar-container">
              <div class="ratings-row__bar-container--bar"></div>
            </div>
          </div>
          <div class="ratings-row__side-right ratings-row--right">
            <div>
              {{ movie.Ratings[1].Value }}
            </div>
          </div>
        </div>
        <div class="ratings-row__item">
          <div class="ratings-row__side">
            {{ movie.Ratings[2].Source }}
          </div>
          <div class="ratings-row__middle">
            <div class="ratings-row__bar-container">
              <div class="ratings-row__bar-container--bar"></div>
            </div>
          </div>
          <div class="ratings-row__side-right ratings-row--right">
            <div>
              {{ movie.Ratings[2].Value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="fullDialogImagePoster" class="modal-fullsize" (keydown.esc)="fullImagePoster()">
  <mat-icon class="modal-fullsize__close-icon" (click)="fullImagePoster()">
    close
  </mat-icon>
  <img [src]="movie.Poster" class="modal-fullsize__image">
</div>
